

/* Start:/local/templates/.default/components/bitrix/menu/left_menu/style.css?167386973164*/
.page__secondary-menu a {
  text-decoration: none !important;
}

/* End */


/* Start:/local/components/DIRECTUM/WebReception.SendRequest.Rx/templates/internet-priemnaya/style.css?16935615851622*/
label.error {
    color: red;
}

p {
    color: #052635;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

p a, p a:active, p:visited, p a:link {
    color: #1759B4 !important;
}

#reqForm {
    margin-top: 20px;
}

#reqForm p {
    clear: both;
    margin: 8px 0;
}

#reqForm label {
    width: 190px;
    float: left;
    text-align: right;
    padding-top: 3px;
    font-weight: bold;
}

#reqForm em {
    font-weight: bold;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-style: normal;
    color: red;
    padding-left: 3px;
    padding-top: 5px;
    vertical-align: top;
}

#reqForm input, #reqForm select, #reqForm textarea, #reqForm span {
    width: 300px;
}

#reqForm .gray {
    background-color: #eee;
}

#reqForm input.checkbox {
    padding: 0;
    margin: 3px 0;
    width: auto;
}

#reqForm span {
    display: inline-block;
}

#reqForm span img {
    width: 180px;
    height: 40px;
}

#reqForm span.captcha input {
    width: 180px;
    margin-top: 5px;
}

#reqForm label.error {
    float: none;
    color: red;
    padding-top: 0;
    padding-left: 10px;
    vertical-align: top;
    position: relative;
    top: 3px;
    text-align: left;
    font-weight: normal;
}

#reqForm span input.file {
    margin-bottom: 5px;
}

#reqForm input.submit {
    margin-left: 217px;
    width: 150px;
}

#reqForm input, #reqForm textarea {
    font-size: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#dir_logo {
    float: right;
    margin-top: 5px;
}

#dir_logo img {
    border: 0 !important;
}

#dir_logo span {
    position: relative;
    top: -15px;
}
/* End */
/* /local/templates/.default/components/bitrix/menu/left_menu/style.css?167386973164 */
/* /local/components/DIRECTUM/WebReception.SendRequest.Rx/templates/internet-priemnaya/style.css?16935615851622 */
