

/* Start:/local/templates/min_zdrav/styles.css?1717149303406*/
.page__main-banner #js-show-iframe-wrapper {
    border-radius: var(--radius-0) !important;
}

.content-blockquote__footer_1 {
    background-color: var(--content-blockquote-footer-background-color);
    border-radius: var(--radius-20);
    display: flex;
    padding: calc(8px*var(--ratio));
    width: 100%;
}

.ogv-card__img {
    background-image: url(/assets/images/no_photo/default.png) !important;
}
/* End */
/* /local/templates/min_zdrav/styles.css?1717149303406 */
